@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


* {
    font-family: 'Exo 2', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
}

h2 {
    text-align: center;
    justify-content: center;
    
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

/*Styling for input boxes*/
.inputArea {
    position: relative;
}

.inputArea input {
    background: transparent;
    width: 250px;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 20px;
}

label {
    letter-spacing: .09em;
}

.inputArea span {
    position: absolute;
    left: 0;
    color: rgb(206, 127, 30);
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.5s;
    letter-spacing: .09em;
}

.inputArea input:valid ~ span,
.inputArea input:focus ~ span {
    color:aqua;
    transform: translateY(-16px);
    font-size: .70em;
}

.inputArea i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:black;
    overflow: hidden;
}

