@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');


* {
    font-family: 'Exo 2', sans-serif;
}

body {
    background-image: url(2-inclusive-background.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Exo 2', sans-serif;
}

h2 {
    text-align: center;
    justify-content: center;
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 30px;
    color: #967bb6;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}


/* ========== Input Box Styling ========== */
.inputArea {
    position: relative;
}

.inputArea input {
    background: transparent;
    width: 250px;
    border: none;
    outline: none;
    padding: 3px;
    font-size: 20px;
}

label {
    letter-spacing: .09em;
}

.inputArea span {
    position: absolute;
    left: 0;
    color: #6e906d;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.5s;
    letter-spacing: .09em;
}

.inputArea input:valid ~ span,
.inputArea input:focus ~ span {
    color:#967bb6;
    transform: translateY(-16px);
    font-size: .70em;
}

.inputArea i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background:black;
    overflow: hidden;
}


/* ========== Dropdown Box Styling ========== */
.dropdown {
    align-items: center;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

select {
    background: white;
    color: #6e906d;
    justify-content: space-between;
    border: 1.5px #6e906d solid;
    border-radius: 0.5em;
    padding: .3em;
    cursor: pointer;
}

select:hover {
    border: 1.5px #967bb6 solid;
    transition: 0.5s;
    color: #967bb6;
}


/* ========== Multiple Choice Styling ========== */
.circle {
    padding-top: .4em;
}

.topLabel {
    padding-top: 2em;
}


/* ========== Textarea Styling ========== */
.accessibility {
    align-items: center;
    text-align: center;
    padding-top: 1.5em;
}

textarea {
    width: 700px;
    height: 100px;
    margin-top: 20px;
    border-color: #6e906d;
    font-size: 18px;
}

textarea:hover {
    border-color: #967bb6;
}


/* ========== Checkbox Styling ========== */
.skillLevel {
    margin-bottom: 1em;
}

.CSSkills {
    margin-top: .5em;
    align-items: left;
}


/* ========== language Question Styling ========== */
.language {
    margin-top: 2em;
}

.languageType {
    margin-top: 1em;
    border-radius: 2rem;
    padding: .5rem;
    border: 2px solid #6e906d;
}

.languageType:hover {
    transition: all 500ms ease;
    border: 2px solid #967bb6;
}


/* ========== Question Styling ========== */
.question {
    font-weight: bold;
}


/* ========== Agreement Styling ========== */
.agreement {
    width: 800px;
    text-align: center;
    justify-content: center;
}