<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Tech Trek for All</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body class="home-body">
    <header>
        <nav id="site-nav">
            <div class="logo hiddenNavName">Tech Trek for All</div>
            <div>
                <ul class="nav-links hiddenNavLinks">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a onclick="document.getElementById('modal-login').style.display='block'">Login</a></li>
                </ul>
            </div>
        </nav>
        <div id="modal-login" class="modal">
            <form class="modal-content" action="#" method="post"> <!-- Replace "#" with the actual form submission URL -->
                <div>
                    <label for="login-email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="login-email" required>
            
                    <label for="login-password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="login-password" required>
                    
                    <button type="submit">Login</button>
                    <button type="button" onclick="document.getElementById('modal-login').style.display='none'" class="cancelbtn">Cancel</button>
                </div>
            </form>
        </div>
    </header>
    
    <section class="home">
        <div class="home-content hiddenHomeContent">
            <h1><strong>Welcome to <span class="homepage-title">Tech Trek for All.</span></strong></h1>
                <div class="about">
                    <strong>
                        Your path to a more diverse and inclusive computer science journey begins here. Our platform connects underrepresented talents with mentors, resources, and job opportunities. Join us in reshaping the future of tech with diversity and inclusivity at its core.
                    </strong>
                </div>
            <br>
            <a href="signup.html" class="sign-up-button">Sign up today!</a>
        </div>
    </section>
    <script src="functions.js"></script>
</body>
</html>